<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <meta name="HandheldFriendly" content="true" />
    <title>Natalie and Josue</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/style.css" rel="stylesheet" />
        <link href="~/css/responsive.css" rel="stylesheet" />
        <link href="~/css/lightbox.css" rel="stylesheet" />
        <link href="~/inc/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/inc/owl-carousel/owl.carousel.css" rel="stylesheet" />
        <link href="~/inc/owl-carousel/owl.theme.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>

    <!-- Page Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <!-- BEGIN HEADER -->
    <header>

        <!-- Top Navigation -->
        <nav data-scroll-reveal>
            <ul class="main-nav">
                <li><a href="#welcome">Welcome</a></li>
                <li class="sep"></li>
                <li><a href="#our-story">About Us</a></li>
                <li class="sep"></li>
                <li><a href="#ceremony">The Wedding</a></li>
                <li class="sep"></li>
                <li><a href="#wedding-party">Wedding Party</a></li>
                <li class="sep"></li>
                <li><a href="#accommodations">Accommodations</a></li>
                <li class="sep"></li>
                <li><a href="#wedding-photos">Wedding Photos</a></li>
            </ul>

            <div class="mobile-nav">
                <ul class="mobile-nav-menu">
                    <li><a href="#welcome">Welcome</a></li>
                    <li><a href="#our-story">About Us</a></li>
                    <li><a href="#ceremony">The Wedding</a></li>
                    <li><a href="#wedding-party">Wedding Party</a></li>
                    <li><a href="#accommodations">Accommodations</a></li>
                    <li><a href="#wedding-photos">Wedding Photos</a></li>
                </ul>
                <span class="show-menu"><i class="fa fa-bars"></i></span>
            </div>
        </nav>

        <!-- Names -->
        <div id="welcome" class="names">natalie <span>&</span> josu&eacute</div>
                
        <!-- Header Images -->
        <div class="main-images center-content">
            <div class="couple">
                <img id="mainImage" src="~/images/natalieandwillie1.jpg" alt="Natalie and Josue">
            </div>
        </div>

        <!-- Wedding Date -->
        <div class="wedate">06.09.17</div>

        <!-- Countdown -->
        <div class="countdown countdown-white" data-countdown="2017/6/9 4:30 PM"></div>
        <!-- Countdown Mobile -->
        <div class="countdown-mobile countdown-white" data-countdown-mobile="2017/6/9 4:30 PM"></div>
    </header>
    <!-- END HEADER -->

    <section>
        <h1 class="welcome_message">
            Welcome to our wedding website!  <br />We can't wait to see you on our big day!
        </h1>
    </section>

    <div class="container body-content">
        @RenderBody()
    </div>

    <!-- BEGIN FOOTER -->
    @*<footer class="clearfix">
        <div class="m-12">
            <p>Information line • 1-800-9639288, E-mail • info@wedding.tmp</p>

            <div class="m-12 soc">
                <a href="#"><i class="fa fa-twitter fa-mid"></i></a>
                <a href="#"><i class="fa fa-facebook fa-mid"></i></a>
                <a href="#"><i class="fa fa-google-plus fa-mid"></i></a>
                <a href="#"><i class="fa fa-flickr fa-mid"></i></a>
                <a href="#"><i class="fa fa-foursquare fa-mid"></i></a>
                <a href="#"><i class="fa fa-youtube-play fa-mid"></i></a>
                <a href="#"><i class="fa fa-vimeo-square fa-mid"></i></a>
                <a href="#"><i class="fa fa-dribbble fa-mid"></i></a>
            </div>

            <span>All Rights Reserved © <?php echo date("Y") ?> | Kevin & Maria Wedding</span>
        </div>
    </footer>*@
    <!-- END FOOTER -->

    <environment names="Development">
        <script src="~/js/jquery-1.11.3.js"></script>
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/js/countdown.js"></script>
        <script src="~/js/scrollreveal.min.js"></script>
        <script src="~/js/lightbox.js"></script>
        <script src="~/inc/owl-carousel/owl.carousel.js"></script>
        <script src="~/js/custom.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtU5UZMsxpDIFdjlCFyptk4jP8gPRkwRo&v=3.exp&sensor=false"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
