<!-- BEGIN CONTENT -->
<!-- Our Story -->
<section id="our-story">
    <h1>Request the honour of your presence at their marriage</h1>
    <hr>

    <!-- Couple Info -->
    <div class="center-container clearfix">
        <div class="m-06">
            <h2>Kevin Jackson</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ligula nisi. Vestibulum a magna auctor, tristique sapien et, tempus velit. Proin feugiat dui ac egestas aliquet. In erat arcu, accumsan mollis tincidunt quis, venenatis ut massa. Duis aliquet auctor dui id placerat. Aenean euismod semper ante adipiscing molestie.</p>
        </div>

        <div class="m-06">
            <h2>Maria Steward</h2>
            <p>Duis aliquet, libero at lobortis aliquet, risus nunc gravida dolor, ac sollicitudin turpis est et risus. Maecenas eget nunc vitae nibh laoreet sodales vel quis nisi. Pellentesque ligula, lobortis iaculis libero placerat, luctus elementum sem. Curabitur vestibulum risus vel dui lobortis iaculis. Phasellus ut augue id felis vestibulum pulvinar quis in est.</p>
        </div>
    </div>

    <hr>
    <h2>Class aptent taciti sociosqu ad litora torquent per conubia nostra</h2>

    <!-- Carousel Gallery -->
    <div class="gallery">
        <div id="owl-gallery" class="owl-carousel owl-theme">
            <div class="item"><a href="images/gallery/gallery-01.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gthumb-01.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery-02.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gthumb-02.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery-03.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gthumb-03.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery-04.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gthumb-04.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery-05.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gthumb-05.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery-06.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gthumb-06.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery-07.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gthumb-07.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery-08.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gthumb-08.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery-09.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gthumb-09.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery-10.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gthumb-10.jpg" alt=""></a></div>
        </div>
    </div>

    <h2>Vestibulum ante ipsum primis luctus et ultrices</h2>

    <p>Integer turpis odio, vestibulum id adipiscing dictum, tempor sit amet massa. Nam nec mollis augue.</p>

    <!-- Comments -->
    <div id="comments" class="center-container clearfix">

        <div class="m-12 mt-20">

            <!-- Comment 01 -->
            <div class="m-03">
                <img src="images/comment-1.jpg" alt="" class="comment-avatar">
                <h3>Maria Schmidt</h3>
                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Vestibulum ante ipsum primis luctus et ultrices posuer.</p>

                <div class="m-12 meta-info clearfix">
                    <span><i class="fa fa-heart fa-mid"></i> Maria</span>
                    <span><i class="fa fa-calendar fa-mid"></i> July 18th, 2015</span>
                </div>

            </div>

            <!-- Comment 02 -->
            <div class="m-03">
                <img src="images/comment-2.jpg" alt="" class="comment-avatar">
                <h3>Thomas Edwards</h3>
                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Vestibulum ante ipsum primis luctus et ultrices posuer.</p>

                <div class="m-12 meta-info clearfix">
                    <span><i class="fa fa-heart fa-mid"></i> Thomas</span>
                    <span><i class="fa fa-calendar fa-mid"></i> July 18th, 2015</span>
                </div>

            </div>

            <!-- Comment 03 -->
            <div class="m-03">
                <img src="images/comment-3.jpg" alt="" class="comment-avatar">
                <h3>Trevor Kaske</h3>
                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Vestibulum ante ipsum primis luctus et ultrices posuer.</p>

                <div class="m-12 meta-info clearfix">
                    <span><i class="fa fa-heart fa-mid"></i> Trevor</span>
                    <span><i class="fa fa-calendar fa-mid"></i> July 18th, 2015</span>
                </div>

            </div>

            <!-- Comment 04 -->
            <div class="m-03">
                <img src="images/comment-4.jpg" alt="" class="comment-avatar">
                <h3>Rebeca Monde</h3>
                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Vestibulum ante ipsum primis luctus et ultrices posuer.</p>

                <div class="m-12 meta-info clearfix">
                    <span><i class="fa fa-heart fa-mid"></i> Rebeca</span>
                    <span><i class="fa fa-calendar fa-mid"></i> July 18th, 2015</span>
                </div>

            </div>
        </div>

    </div>

</section>

<!-- Ceremony -->
<section id="ceremony">
    <h1>Ceremony</h1>
    <hr>

    <div class="center-container">
        <h2>Proin lacinia fermentum diam at dictum</h2>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales lacus ultricies mauris rhoncus, ut tristique quam malesuada. Sed eu sapien id nulla viverra fringilla non a massa. Integer turpis odio, vestibulum id adipiscing dictum, tempor sit amet massa. Nam nec mollis augue.</p>
        <p><strong>Duis dapibus purus ac metus ullamcorper, vel consequat nibh consectetur. Nam eu euismod libero. Praesent nec odio sed urna sagittis condimentum. Integer ut viverra odio. Integer sed tincidunt tellus. Quisque urna, eu rhoncus lorem tempus in.</strong></p>

        <div class="m-12 ceremony-images">
            <div class="m-04 remove-2">
                <div class="m-06 mt-40 remove">
                    <img src="images/ceremony-01.jpg" alt="Ceremony" class="round-img">
                </div>

                <div class="m-06 mt-40">
                    <img src="images/ceremony-02.jpg" alt="Ceremony" class="round-img">
                </div>
            </div>

            <div class="m-04">
                <img src="images/ceremony-03.jpg" alt="Ceremony" class="round-img round-img-lgb">
            </div>

            <div class="m-04 remove-2">
                <div class="m-06 mt-40">
                    <img src="images/ceremony-04.jpg" alt="Ceremony" class="round-img">
                </div>

                <div class="m-06 mt-40 remove">
                    <img src="images/ceremony-05.jpg" alt="Ceremony" class="round-img">
                </div>
            </div>
        </div>

        <p>Aliquam erat volutpat. Vestibulum hendrerit leo id rutrum porttitor. Praesent id tellus tellus. Pellentesque convallis, lacus non imperdiet posuere, nibh urna faucibus justo, vel iaculis eros libero quis libero. Proin est augue, cursus ut euismod eu, consequat non urna.</p>

        <hr>

        <h2>Location</h2>
        <p><strong>Millenium Hilton</strong> / 55 Church St / New York, NY 10007</p>
    </div>

    <!-- Google Map -->
    <div id="map-canvas" class="m-12"></div>

</section>

<!-- Restaurant -->
<section id="restaurant">
    <h1>Restaurant</h1>
    <hr>

    <div class="center-container clearfix">
        <div class="m-04 mt-40">
            <h2>Interdum et malesuada fames</h2>
            <p><strong>Tellus pellentesque convallis, lacus non imperdiet posuere, nibh urna faucibus justo, vel iaculis eros libero quis libero. Proin est augue, cursus ut euismod eu, consequat non urna.</strong></p>
            <p>Suspendisse porttitor enim orci, eget aliquam urna fermentum sed. In et ante ac turpis consequat euismod ac et massa.</p>
        </div>

        <div class="m-04">
            <img src="images/restaurant.jpg" alt="Restaurant" class="round-img">
        </div>

        <div class="m-04 mt-40">
            <h2>Phasellus feugiat vehicula</h2>
            <p><strong>Proin est augue, cursus ut euismod eu, consequat non urna. Pellentesque convallis, lacus non imperdiet posuere, nibh urna faucibus justo, vel iaculis eros  quis libero eu non fata.</strong></p>
            <p>Mauris et justo vitae libero rutrum mattis quis eu felis. Curabitur purus dolor, iaculis eget fermentum vitae.</p>
        </div>
    </div>

</section>

<!-- The Party -->
<section id="party">
    <h1>Party</h1>
    <hr>

    <div class="center-container clearfix">
        <div class="m-04">
            <div class="m-06 remove">
                <img src="images/party-01.jpg" alt="Party" class="round-img">
            </div>

            <div class="m-06">
                <img src="images/party-02.jpg" alt="Party" class="round-img">
            </div>
        </div>

        <div class="m-04 mt-40">
            <h2>Nunc faucibus vulputate tempor quis</h2>
            <p>Pellentesque convallis, lacus non imperdiet posuere, nibh urna faucibus justo, vel iaculis eros libero quis libero.</p>
        </div>

        <div class="m-04">
            <div class="m-06">
                <img src="images/party-03.jpg" alt="Party" class="round-img">
            </div>

            <div class="m-06 remove">
                <img src="images/party-04.jpg" alt="Party" class="round-img">
            </div>
        </div>
    </div>
</section>

<!-- Accommodation -->
<section id="accommodation">
    <h1>Guests Accommodation</h1>
    <hr>

    <div class="center-container clearfix">

        <!-- Hotel 01 -->
        <div class="m-03">
            <h2>Magna Hotel</h2>
            <img src="images/hotel-1.jpg" alt="" class="round-img">
            <p>Pellentesque convallis, lacus non imperdiet posuere, nibh urna faucibus justo, vel iaculis eros libero quis libero.</p>
            <a class="more-button" href="#">more</a>
        </div>

        <!-- Hotel 02 -->
        <div class="m-03">
            <h2>Faucibus Hotel</h2>
            <img src="images/hotel-2.jpg" alt="" class="round-img">
            <p>Maecenas vitae rutrum nulla. Quisque sodales tincidunt ut pulvinar. Nunc dui risus, tincidunt vitae arcu lobortis.</p>
            <a class="more-button" href="#">more</a>
        </div>

        <!-- Hotel 03 -->
        <div class="m-03">
            <h2>Hotel Bibendum</h2>
            <img src="images/hotel-3.jpg" alt="" class="round-img">
            <p>Sed eu sapien id nulla viverra fringilla non a massa. Integer turpis odio, vestibulum id adipiscing dictum, tempor nisl.</p>
            <a class="more-button" href="#">more</a>
        </div>

        <!-- Hotel 04 -->
        <div class="m-03">
            <h2>Porrtitor Hotel</h2>
            <img src="images/hotel-4.jpg" alt="" class="round-img">
            <p>Pellentesque convallis, lacus non imperdiet posuere, nibh urna faucibus justo, vel iaculis eros libero quis libero.</p>
            <a class="more-button" href="#">more</a>
        </div>

    </div>
</section>

<!-- Gifts -->
<section id="gifts">
    <h1>Gifts</h1>
    <hr>
    <h2>Tempor quis nunc faucibus vulputate</h2>

    <div class="center-container clearfix">
        <div class="m-03">
            <img src="images/gifts-1.png" alt="" class="center-content">
        </div>

        <div class="m-03">
            <img src="images/gifts-2.png" alt="" class="center-content">
        </div>

        <div class="m-03">
            <img src="images/gifts-3.png" alt="" class="center-content">
        </div>

        <div class="m-03">
            <img src="images/gifts-4.png" alt="" class="center-content">
        </div>
    </div>

    <p class="copyright">All trademarks and registered trademarks are the property of their respective owners.</p>

    <hr>
    <h2>Buy us a voucher or make a donation</h2>
    <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>

    <!-- Vouchers -->
    <div class="center-container clearfix">
        <div class="m-06">
            <div class="m-04">
                <span>100</span>
                <i class="fa fa-gift fa-2x"></i>
                <a href="#" class="buy-voucher">buy</a>
            </div>
            <div class="m-04">
                <span>200</span>
                <i class="fa fa-money fa-2x"></i>
                <a href="#" class="buy-voucher">buy</a>
            </div>
            <div class="m-04">
                <span>400</span>
                <i class="fa fa-heart-o fa-2x"></i>
                <a href="#" class="buy-voucher">buy</a>
            </div>
        </div>

        <div class="m-06">
            <div class="m-04">
                <span>600</span>
                <i class="fa fa-shopping-cart fa-2x"></i>
                <a href="#" class="buy-voucher">buy</a>
            </div>
            <div class="m-04">
                <span>800</span>
                <i class="fa fa-plane fa-2x"></i>
                <a href="#" class="buy-voucher">buy</a>
            </div>
            <div class="m-04">
                <span>1000</span>
                <i class="fa fa-sun-o fa-2x"></i>
                <a href="#" class="buy-voucher">buy</a>
            </div>
        </div>
    </div>
</section>
<!-- END CONTENT -->