<!-- BEGIN CONTENT -->
<!-- Our Story -->
<section id="our-story">
    <h1>
        About Us
    </h1>
    <hr>

    <!-- Couple Info -->
    <div class="center-container clearfix">
        <div class="m-06">
            <img src="images/gallery/thumbs/Natalie Bio Pic Option 1.jpg" alt="Natlie Giannios"  class="round-img">
            <h2>Natalie Giannios</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ligula nisi. Vestibulum a magna auctor, tristique sapien et, tempus velit. Proin feugiat dui ac egestas aliquet. In erat arcu, accumsan mollis tincidunt quis, venenatis ut massa. Duis aliquet auctor dui id placerat. Aenean euismod semper ante adipiscing molestie.</p>
        </div>

        <div class="m-06">
            <img src="images/gallery/thumbs/gthumb-02.jpg" alt="Natlie Giannios" class="round-img">
            <h2>Josu&eacute Garcia</h2>
            <p>Duis aliquet, libero at lobortis aliquet, risus nunc gravida dolor, ac sollicitudin turpis est et risus. Maecenas eget nunc vitae nibh laoreet sodales vel quis nisi. Pellentesque ligula, lobortis iaculis libero placerat, luctus elementum sem. Curabitur vestibulum risus vel dui lobortis iaculis. Phasellus ut augue id felis vestibulum pulvinar quis in est.</p>
        </div>
    </div>

    <h2>Special times we have shared</h2>

    <!-- Carousel Gallery -->
    <div class="gallery">
        <div id="owl-gallery" class="owl-carousel owl-theme">
            <div class="item"><a href="images/gallery/gallery 01.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 01.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 02.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 02.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 03 C.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 03 C.jpg" alt=""></a></div>

            <div class="item"><a href="images/gallery/gallery 05.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 05.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 06.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 06.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 08.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 08.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 12.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 12.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 15.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 15.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 16.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 16.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 17.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 17.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 19.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 19.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 20 A.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 20 A.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 21.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 21.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 22 A.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 22 A.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 23.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 23.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 29.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 29.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 30.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 30.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 32 B.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 32 B.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 34.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 34.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 35.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 35.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 37.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 37.jpg" alt=""></a></div>
        </div>
    </div>

    <!-- Comments -->
    @*<div id="comments" class="center-container clearfix">

        <div class="m-12 mt-20">

            <!-- Comment 01 -->
            <div class="m-03">
                <img src="images/comment-1.jpg" alt="" class="comment-avatar">
                <h3>Maria Schmidt</h3>
                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Vestibulum ante ipsum primis luctus et ultrices posuer.</p>

                <div class="m-12 meta-info clearfix">
                    <span><i class="fa fa-heart fa-mid"></i> Maria</span>
                    <span><i class="fa fa-calendar fa-mid"></i> July 18th, 2015</span>
                </div>

            </div>

            <!-- Comment 02 -->
            <div class="m-03">
                <img src="images/comment-2.jpg" alt="" class="comment-avatar">
                <h3>Thomas Edwards</h3>
                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Vestibulum ante ipsum primis luctus et ultrices posuer.</p>

                <div class="m-12 meta-info clearfix">
                    <span><i class="fa fa-heart fa-mid"></i> Thomas</span>
                    <span><i class="fa fa-calendar fa-mid"></i> July 18th, 2015</span>
                </div>

            </div>

            <!-- Comment 03 -->
            <div class="m-03">
                <img src="images/comment-3.jpg" alt="" class="comment-avatar">
                <h3>Trevor Kaske</h3>
                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Vestibulum ante ipsum primis luctus et ultrices posuer.</p>

                <div class="m-12 meta-info clearfix">
                    <span><i class="fa fa-heart fa-mid"></i> Trevor</span>
                    <span><i class="fa fa-calendar fa-mid"></i> July 18th, 2015</span>
                </div>

            </div>

            <!-- Comment 04 -->
            <div class="m-03">
                <img src="images/comment-4.jpg" alt="" class="comment-avatar">
                <h3>Rebeca Monde</h3>
                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Vestibulum ante ipsum primis luctus et ultrices posuer.</p>

                <div class="m-12 meta-info clearfix">
                    <span><i class="fa fa-heart fa-mid"></i> Rebeca</span>
                    <span><i class="fa fa-calendar fa-mid"></i> July 18th, 2015</span>
                </div>

            </div>
        </div>

    </div>*@

</section>

<!-- Ceremony -->
<section id="ceremony">
    <h1>The Wedding</h1>
    <hr>

    <div class="center-container">

        <p class="ceremony_message">
            Ceremony at 4:30 PM
            <br />
            reception immediately following
        </p>

        <img id="hiltonLogo" src="~/images/hiltonlogo.jpg" alt="Hilton Logo" />
        <img id="golfCourseImage" src="~/images/golfcourse.jpg" alt="Golf Course"/>

        @*<div class="m-12 ceremony-images">
            <div class="m-04 remove-2">
                <div class="m-06 mt-40 remove">
                    <img src="images/ceremony-01.jpg" alt="Ceremony" class="round-img">
                </div>

                <div class="m-06 mt-40">
                    <img src="images/ceremony-02.jpg" alt="Ceremony" class="round-img">
                </div>
            </div>

            <div class="m-04">
                <img src="images/ceremony-03.jpg" alt="Ceremony" class="round-img round-img-lgb">
            </div>

            <div class="m-04 remove-2">
                <div class="m-06 mt-40">
                    <img src="images/ceremony-04.jpg" alt="Ceremony" class="round-img">
                </div>

                <div class="m-06 mt-40 remove">
                    <img src="images/ceremony-05.jpg" alt="Ceremony" class="round-img">
                </div>
            </div>
        </div>*@
        <h2>Location</h2>

        <p class="ceremony_address">3500 Midwest Road, Oak Brook, Illinois 60523</p>
    </div>

    <!-- Google Map -->
    <div id="map-canvas" class="m-12"></div>

</section>

<!-- Restaurant -->
<section id="wedding-party">
    <h1>Wedding Party</h1>
    <hr>

    <div class="center-container clearfix">
        <div id="bridesmaid-images" class="m-12 mt-20">
            <!-- Comment 01 -->
            <div class="m-02">
                <img src="images/comment-1.jpg" alt="" class="avatar">
                <p class="wedding-party-name">julie south</p>
                <h3>matron of honor</h3>
            </div>

            <!-- Comment 02 -->
            <div class="m-02">
                <img src="images/comment-2.jpg" alt="" class="avatar">
                <p class="wedding-party-name">jamie patrick</p>
                <h3>bridesmaid</h3>
            </div>

            <!-- Comment 03 -->
            <div class="m-02">
                <img src="images/comment-3.jpg" alt="" class="avatar">
                <p class="wedding-party-name">nicole harris</p>
                <h3>bridesmaid</h3>
            </div>

            <!-- Comment 04 -->
            <div class="m-02">
                <img src="images/comment-4.jpg" alt="" class="avatar">
                <p class="wedding-party-name">megan miller</p>
                <h3>bridesmaid</h3>
            </div>

            <!-- Comment 05 -->
            <div class="m-02">
                <img src="images/comment-4.jpg" alt="" class="avatar">
                <p class="wedding-party-name">ava south</p>
                <h3>flower girl</h3>
            </div>
        </div>


        <div id="groomsmen-images" class="m-12 mt-20">
            <!-- Comment 01 -->
            <div class="m-02">
                <img src="images/comment-1.jpg" alt="" class="avatar">
                <p class="wedding-party-name">Luis Garcia</p>
                <h3>best man</h3>
            </div>

            <!-- Comment 02 -->
            <div class="m-02">
                <img src="images/comment-2.jpg" alt="" class="avatar">
                <p class="wedding-party-name">Brian Riffert</p>
                <h3>groomsman</h3>
            </div>

            <!-- Comment 03 -->
            <div class="m-02">
                <img src="images/comment-3.jpg" alt="" class="avatar">
                <p class="wedding-party-name">TBD</p>
                <h3>groomsman</h3>
            </div>

            <!-- Comment 04 -->
            <div class="m-02">
                <img src="images/comment-4.jpg" alt="" class="avatar">
                <p class="wedding-party-name">TBD</p>
                <h3>groomsman</h3>
            </div>

            <!-- Comment 05 -->
            <div class="m-02">
                <img src="images/comment-4.jpg" alt="" class="avatar">
                <p class="wedding-party-name">Colin Patrick</p>
                <h3>ring bearer</h3>
            </div>
        </div>
    </div>

</section>

<!-- The Party -->
@*<section id="party">
    <h1>Party</h1>
    <hr>

    <div class="center-container clearfix">
        <div class="m-04">
            <div class="m-06 remove">
                <img src="images/party-01.jpg" alt="Party" class="round-img">
            </div>

            <div class="m-06">
                <img src="images/party-02.jpg" alt="Party" class="round-img">
            </div>
        </div>

        <div class="m-04 mt-40">
            <h2>Nunc faucibus vulputate tempor quis</h2>
            <p>Pellentesque convallis, lacus non imperdiet posuere, nibh urna faucibus justo, vel iaculis eros libero quis libero.</p>
        </div>

        <div class="m-04">
            <div class="m-06">
                <img src="images/party-03.jpg" alt="Party" class="round-img">
            </div>

            <div class="m-06 remove">
                <img src="images/party-04.jpg" alt="Party" class="round-img">
            </div>
        </div>
    </div>
</section>*@

<!-- Accommodation -->
<section id="accommodations">
    <h1>Accommodations</h1>
    <hr>

    <div class="center-container clearfix">

        <img id="hiltonLogo2" src="~/images/hiltonlogo.jpg" alt="Hilton Logo" />
        <img id="hiltonFrontView" src="~/images/hiltonfrontview.jpg" alt="Front View" />

        <p>
            A block of rooms has been reserved at a rate of $129 per night.
            Please reference the Giannios/Garcia wedding when reserving your room.
            You can reserve by calling 866.275.6295 or by visiting their web site at
            <a href="http://www3.hilton.com/en/hotels/illinois/hilton-chicago-oak-brook-hills-resort-and-conference-center-CHIBHHH/index.html" target="_blank">
            hilton.com
            </a>.
            Please book by Friday, May 12, 2017 to secure this rate.
            If you need more information, please feel free to call us.
        </p>

    </div>
</section>

<!-- Weddding Photos -->
<section id="wedding-photos">
    <h1>Wedding Photos</h1>
    <hr>
    <h2>Revisit our website after the wedding to see some of our favorite wedding day photos</h2>

    <div class="center-container clearfix">
        <p style="height: 400px;"></p>
    </div>

</section>
<!-- END CONTENT -->