@using WebSite.Models
<!-- BEGIN CONTENT -->
<!-- Our Story -->
<section id="our-story">
    <h1>
        About Us
    </h1>
    <hr>

    <!-- Couple Info -->
    <div class="center-container clearfix">
        <div class="m-06">
            <img src="images/gallery/thumbs/Natalie Bio Pic Option 1.jpg" alt="Natlie Giannios"  class="round-img">
            <h2>Natalie Giannios</h2>
            <div class="soc-icons">
                <a class="soc-xs" href="fb://profile/100007854252524" target="_blank" title="Natalie's Facebook Profile">
                    <img src="~/images/icons/facebook.png" />
                </a>
                <a class="soc-md" href="https://www.facebook.com/natalie.giannios" target="_blank" title="Natalie's Facebook Profile">
                    <img src="~/images/icons/facebook.png" />
                </a>
                <a class="soc-xs" href="instagram://user?username=ngiannios76" target="_blank" title="Natalie's Instagram Profile">
                    <img src="~/images/icons/instagram.png" />
                </a>
                <a class="soc-md" href="https://www.instagram.com/ngiannios76" target="_blank" title="Natalie's Instagram Profile">
                    <img src="~/images/icons/instagram.png" />
                </a>
                <a href="https://www.linkedin.com/in/natalie-giannios-b38397a" target="_blank" title="Natalie's LinkedIn Profile">
                    <img src="~/images/icons/linkedin.png" />
                </a>
            </div>
            <p>
                I was born and raised in Downers Grove and come from a big family with 3 sisters and 8 nieces and nephews. 
                After earning a degree in Fashion Marketing and Merchandising I've had a long career in retail management, 
                and have previously held Store Manager and District Manager positions with The Limited and Williams-Sonoma.  
                Currently, I am the Store Manager of Everve in Wheaton Town Square, which is a nationwide, fashion-forward 
                boutique that focuses on inspiring moms to embrace their beauty and power, while styling them for their 
                lifestyle and body type.  In my spare time I enjoy hanging out with my family, playing board games, doing Zumba, 
                shopping, and I could spend hours on Facebook and Pinterest.
            </p>
        </div>

        <div class="m-06">
            <img src="~/images/gallery/thumbs/Willie Bio Pic Option 2.jpg" alt="Natlie Giannios" class="round-img">
            <h2>Josu&eacute (Willie) Garcia</h2>
            <div class="soc-icons">
                <a class="soc-xs" href="fb://profile/1133701698" target="_blank" title="Josue's Facebook Profile">
                    <img src="~/images/icons/facebook.png" />
                </a>
                <a class="soc-md" href="https://www.facebook.com/josue.w.garcia" target="_blank" title="Josue's Facebook Profile">
                    <img src="~/images/icons/facebook.png" />
                </a>
                <a class="soc-xs" href="instagram://user?username=jgarcia773" target="_blank" title="Josue's Instagram Profile">
                    <img src="~/images/icons/instagram.png" />
                </a>
                <a class="soc-md" href="https://www.instagram.com/jgarcia773" target="_blank" title="Josue's Instagram Profile">
                    <img src="~/images/icons/instagram.png" />
                </a>
                <a href="https://www.linkedin.com/in/josu%C3%A9-garcia-4731241a/" target="_blank" title="Josue's LinkedIn Profile">
                    <img src="~/images/icons/linkedin.png" />
                </a>
            </div>
            <p>
                I was born in Mexico City, grew up on the north side of Chicago, and raised by hardworking parents.  
                I am passionate about culinary arts, spirituality, science, technology, and physical fitness.  
                At the age of 15 my parents opened a Mexican restaurant, which lead me to enroll in Le Cordon Blue College of Culinary 
                and experience several exciting years in the industry.  At the age of 21 I enrolled in DePaul University to pursue a degree in Information Technology.  
                I currently work as a software consultant and enjoy mentoring junior developers.
            </p>
        </div>
    </div>

    <h2>Our Story</h2>

    <div class="center-container clearfix">
        <div class="m-12">
            <p>
                We met online in June of 2014 and had our first date at Gibson’s in Oak Brook.  
                We had a cozy spot on the patio, good conversation, and an immediate connection.  
                After a few months of dating our relationship became exclusive and we enjoyed our first Holiday Season together.
            </p>

            <p>
                Some of the things we love to do together are dining out, cooking at home, attending sporting events, 
                taking out our nieces and nephews, going for walks, and traveling.  
                Our coast to coast travels have been exciting and memorable.  
                Our first trip was a long weekend in Tampa where Natalie discovered a love for seafood.  
                We also visited Dallas and enjoyed exploring restaurants featured on <i>Diners Drive Ins and Dives</i>.  
                Willie got to experience his childhood dream of attending a Cowboys game at AT&T Stadium.  
                Our most recent vacation was to Newport Beach, California where we had the privilege of meeting a <i>Top Chef</i> finalist and dining at his restaurant.  
                We also ventured to San Diego and experienced the liveliness of Seaworld.  
                Our last night watching the sunset on the beach was romantic and breathtaking.
            </p>

            <p>
                On December 31, 2015 we got engaged! We are excited to tie the knot and look forward to a lifetime of love and happiness.
            </p>
        </div>
    </div>
    <!-- Carousel Gallery -->
    <div class="gallery">
        <div id="owl-gallery" class="owl-carousel owl-theme">
            <div class="item"><a href="images/gallery/gallery 01.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 01.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 02.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 02.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 03 C.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 03 C.jpg" alt=""></a></div>

            <div class="item"><a href="images/gallery/gallery 05.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 05.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 06.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 06.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 08.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 08.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 12.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 12.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 15.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 15.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 16.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 16.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 17.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 17.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 19.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 19.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 20 A.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 20 A.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 21.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 21.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 22 A.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 22 A.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 23.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 23.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 29.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 29.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 30.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 30.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 32 B.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 32 B.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 34.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 34.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 35.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 35.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 37.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 37.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 38.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 38.jpg" alt=""></a></div>
            <div class="item"><a href="images/gallery/gallery 39.jpg" data-lightbox="demo-gallery"><img src="images/gallery/thumbs/gallery 39.jpg" alt=""></a></div>
        </div>
    </div>
</section>

<!-- Ceremony -->
<section id="ceremony">
    <h1>The Wedding</h1>
    <hr>

    <div class="center-container">

        <p class="ceremony_message">
            Ceremony at 4:30 PM
            <br />
            reception immediately following
        </p>

        <img id="hiltonLogo" src="~/images/hiltonlogo-transparent.png" alt="Hilton Logo" />
        <img id="golfCourseImage" src="~/images/golfcourse.jpg" alt="Golf Course"/>

        <h2>Location</h2>

        <p class="ceremony_address">3500 Midwest Road, Oak Brook, Illinois 60523</p>
    </div>

    <!-- Google Map -->
    <a href="@Helper.GoogleDirectionsUrlMobile" target="_blank">
        <div id="map-canvas" class="m-12"></div>
    </a>

</section>


<!-- Wedding Party -->
<section id="wedding-party">
    <h1>Wedding Party</h1>
    <hr>

    <div class="center-container clearfix">
        <div id="bridesmaid-images" class="m-12 mt-20">
            <!-- Comment 01 -->
            <div class="m-02">
                <img src="~/images/gallery/thumbs/Wedding Party 1.jpg" alt="Julie South" class="avatar">
                <p class="wedding-party-name">Julie South</p>
                <h3>matron of honor</h3>
            </div>

            <!-- Comment 02 -->
            <div class="m-02">
                <img src="~/images/gallery/thumbs/Wedding Party 2.jpg" alt="Jamie Patrick" class="avatar">
                <p class="wedding-party-name">Jamie Patrick</p>
                <h3>bridesmaid</h3>
            </div>

            <!-- Comment 04 -->
            <div class="m-02">
                <img src="~/images/gallery/thumbs/Wedding Party 4.jpg" alt="Megan Miller" class="avatar">
                <p class="wedding-party-name">Megan Miller</p>
                <h3>bridesmaid</h3>
            </div>

            <!-- Comment 05 -->
            <div class="m-02">
                <img src="~/images/gallery/thumbs/Wedding Party 5.jpg" alt="Ava South" class="avatar">
                <p class="wedding-party-name">Ava South</p>
                <h3>flower girl</h3>
            </div>
        </div>


        <div id="groomsmen-images" class="m-12 mt-20">
            <!-- Comment 01 -->
            <div class="m-02">
                <img src="~/images/gallery/thumbs/Wedding Party 6.jpg" alt="" class="avatar">
                <p class="wedding-party-name">Luis Garcia</p>
                <h3>best man</h3>
            </div>

            <!-- Comment 02 -->
            <div class="m-02">
                <img src="~/images/gallery/thumbs/Wedding Party 7 Option 4.jpg" alt="Brian Riffert" class="avatar">
                <p class="wedding-party-name">Brian Riffert</p>
                <h3>groomsman</h3>
            </div>

            <!-- Comment 04 -->
            <div class="m-02">
                <img src="~/images/gallery/thumbs/Wedding Party 8.jpg" alt="" class="avatar">
                <p class="wedding-party-name">Adan Garcia</p>
                <h3>groomsman</h3>
            </div>

            <!-- Comment 05 -->
            <div class="m-02">
                <img src="~/images/gallery/thumbs/Wedding Party 10.jpg" alt="Colin Patrick" class="avatar">
                <p class="wedding-party-name">Colin Patrick</p>
                <h3>ring bearer</h3>
            </div>
        </div>
    </div>

</section>

<!-- Accommodation -->
<section id="accommodations">
    <h1>Accommodations</h1>
    <hr>

    <div class="center-container clearfix">

        <img id="hiltonLogo2" src="~/images/hiltonlogo-transparent.png" alt="Hilton Logo" />
        <img id="hiltonFrontView" src="~/images/hiltonfrontview.jpg" alt="Front View" />

        <p>
            A block of rooms has been reserved at a rate of $129 per night.
            Please reference the Giannios/Garcia wedding when reserving your room.
            You can reserve by calling 866.275.6295 or by visiting our guest room block at
            <a href="http://www.hilton.com/en/hi/groups/personalized/C/CHIBHHH-GGW-20170608/index.jhtml?WT.mc_id=POG" target="_blank">Giannios Garcia Wedding</a>.
            Please book by Friday, May 12, 2017 to secure this rate.
            If you need more information, please feel free to call us.
        </p>

    </div>
</section>

<!-- Weddding Photos -->
<section id="wedding-photos">
    <h1>Wedding Photos</h1>
    <hr>
    <h2>Revisit our website after the wedding to see some of our favorite wedding day photos!</h2>

    <div class="center-container clearfix">
        <p style="height: 400px;"></p>
    </div>

</section>
<!-- END CONTENT -->